<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="buet.rafi.dictionary"
    android:versionCode="3"
    android:versionName="2.1" >

    <uses-sdk android:minSdkVersion="8"
        android:targetSdkVersion="11" />

    <application
        android:theme="@style/LightThemeSelector"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Dictionary"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="BookMarkedWords" android:label="Bookmarks"></activity>
        <activity android:name="About" android:label="About"></activity>
    </application>

</manifest>